@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Noi da RistoranteBellino rispettiamo la tua privacy</h1>

<p>Clicca <a href="https://www.google.com">qua</a> per cambiare le impostazioni di privacy! (WIP)</p>
